* {
            box-sizing: border-box;
}

#principal {
    width: 30%;
    height: auto;
    justify-content: center;
    padding: 15px;
    border: solid black 2px;
    background-color: #FFFAFA;
    font-size: 12px;
}

input[type=text] {
    background-color: #E4E4E4;
    width: 80px;
}

button {
    border: solid black 2px;
    font-weight: bold;
}

.erro{ 
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: red;
}

input.foco {
  border-color: #900;
  background-color: #fdd;
}