<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Introdução ao Vue</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <img v-bind:src="image">
        </div>
          <div class="product-info">
              <h1>{{produto}}</h1>
              <p v-if="(estoque > 10)">Em estoque</p>
              <p v-else-if="(estoque <= 10) && (estoque > 0)">Quase Esgotado!</p>
              <p v-else="estoque" >Estoque Esgotado</p>
              <p v-if="promocao=true">Em Promoção!</p>
              <p v-els-if="promocao=false">Não Em promoção</p>
          </div>
          <p>{{descricao}}</p>
          <a v-bind:href="link">Mais produtos como este</a>
      </div>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>